
@{
    ViewBag.Title = "Upload";
    var userId = ViewBag.UserId;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="~/library/index#!">All Media<span class="badge">123</span></a></li>
                    <li class="active" role="presentation"><a href="javascript:void(0);">Upload</a></li>
                </ul>
            </div>

            <div class="panel-body">
                <!-- Second step -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Track#</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                    <th>Year</th>
                                    <th>Song</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>
                                        <input class="input-sm" type="text" />
                                    </th>
                                    <td>
                                        <input class="input-sm" type="text" />
                                    </td>
                                    <td>
                                        <input class="input-sm" type="text" />
                                    </td>
                                    <td>
                                        <input class="input-sm" type="text" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-default disabled">Save</button>
                    </div>
                </div>
                <!-- First step  -->
                @*
    <div class="row">
        <div class="col-sm-10">
            <div class="alert alert-warning" role="alert">
                <strong>Warning</strong> Do not refresh page
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="input-sm" type="file" name="upload-media1" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="input-sm" type="file" name="upload-media2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">

            <button type="button" class="btn btn-default disabled">Upload</button>
        </div>
    </div>*@
            </div>
        </div>
    </div>
</div>

